* {
  padding: 0;
  margin: 0;
}
body {
  padding-top: 100px;
}
.product-container {
  position: relative;
  height: 210px;
  margin-bottom: 30px;
  padding: 0 20px;
  border: 1px solid gray;
}
.product-container img {
  float: left;
}
.product-info {
  padding-top: 100px;
}